@media (max-width: 900px)
{
    h1,h2,h3 {
        font-size: 20px !important;
    }
    h4 {
        font-size: 16px !important;
    }
    h5, h6{
        font-size: 15px !important;
    }
    p , a , li , button {
        font-size: 11px !important;
    }
    header{
        padding-bottom: 0px !important;
    }
    .hamburger{
        display: block !important;
    } 
    header .owl-carousel .owl-nav button.owl-next, header .owl-carousel .owl-nav button.owl-prev
    {
        top: unset;
        bottom: 10px;
        transform: translateY(0px);
    }
    .owl-theme .owl-nav.disabled + .owl-dots{
        width: 100%;
        padding: 0px !important;
    }
    .owl-theme .owl-nav.disabled + .owl-dots .owl-dot {
        width: 22px;
    }
    .offers .box{
        margin-bottom: 10px !important;
    }
    .gallery .nav , 
    .offers .nav
    {
        display: flex;
        flex-direction: row !important;
        justify-content: flex-start !important;
        flex-wrap: nowrap;
        margin-left: -5px;
        margin-right: -5px;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 15px;
        margin: 0px 10px;
    }
    .navbar-nav{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 80px;
        background-color: #f9f9f9;
        flex-direction: column !important;
        justify-content: unset !important;
        align-items: center;
        transition: all .5s linear;
        right: -100%;
    }
    .acitve-nav{
        right: 0% !important;
    }
    .why-us , .services , .offers , .gallery , .request-time, .contact-us{
        padding: 25px 0px;
    }
    header .item .content{
        padding: 20px 10px;
    }
    header .item {
        padding: 100px 0px 60px;
    }
    .navbar-nav li {
        margin: 20px 0px !important;
    }
    html[dir='rtl'] .navbar-nav{ 
        right: -100%;
    }
    html[dir='rtl'] .acitve-nav{
        right: 0px;
    }
    html[dir='ltr']  .navbar-nav{
        left: -100%;
    }
    html[dir='ltr'] .acitve-nav{
        left: 0px;
    }
    footer .content h4{
        margin: 10px 0px !important;
    }
    .mb-5, .my-5{
        margin-bottom: .75rem !important;
    }
    footer .content.center-content{
        align-items: flex-start !important;
    }
}