/*start general properties for website*/
@import 'animations';
@font-face {
    font-family: "regular";
    src: url(../fonts/Janna/JannaLT-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../fonts/Janna/JannaLT-Bold.ttf);
}

* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    scroll-behavior: smooth;
    ::-webkit-scrollbar-thumb {
        background-color: #C0A47C;
        border-radius: 0px;
    }
    ::-webkit-scrollbar {
        width: 2px;
        background-color: transparent;
    } 
}
body{
    background: url(../images/main_back.jpg);
}
.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: 0);
}

a {
    text-decoration: none !important;
}
.owl-carousel .owl-stage{
    padding: 15px 0px;
}
html[dir="rtl"]{
    .scroll-top-btn {
        left: 0;
    }
}
html[dir="ltr"]{
    .scroll-top-btn {
        right: 0;
    }
    footer .content .links li a::after{
        right: unset !important;
        left: -10px !important;
    }
}
.owl-theme .owl-nav.disabled + .owl-dots{
    width: fit-content;
    padding: 0px 80px;
    background: url(../images/arrow_back.png);
    background-repeat: repeat-x;
    position: relative;
    margin: 20px auto 0px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    &::before,
    &::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 28px;
        top: 50%;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        transform: translateY(-50%);
    }
    &::after{
        right: 0;
        background: url(../images/arrow_start.png);
        background-position: center;
        height: 20px;
        width: 20px;
    }
    &::before{
        left: 0;
        background: url(../images/arrow_end.png);
    }
    .owl-dot {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        span{
            width: 0;
            height: 0;
            position: relative;
            background-color: transparent;
           &::after{
                content: "";
                display: block;
                position: absolute;
                width: 16px;
                height: 26px;
                border-radius: 0px !important;
                background: url(../images/bullet.png);
                background-size: contain !important;
                background-repeat: no-repeat !important;
                top: -14px;
                left: 50%;
                transform: translateX(-50%);
           }
           
        }
        &.active span::after{
            background: url(../images/bullet_active.png);
        }
    }
}
.custom-btn{
    padding: 10px 20px;
    background-color: #C0A47C;
    color: #222;
    font-family: 'regular';
    font-size: 15px;
    position: relative !important;
    transition: all .5s linear;
    display: block;
    width: fit-content;
    &::after{
        content: '';
        position: absolute;
        width: 110%;
        height: 120%;
        border: 1px solid #C0A47C;
        top: -9%;
        left: -5%;
        transition: all .5s ease-in-out;
    }
    &:hover{
        background-color: #222;
        color: #C0A47C;
        &::after{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}
.button-content{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    h4{
        padding: 0px 40px 30px 40px;
        width: fit-content;
        margin: auto;
        position: relative;
        font-family: 'bold';
        font-size: 20px;
        color: #C0A47C;
        &::after{
            content: '';
            position: absolute;
            width: 16px;
            height: 26px;
            background: url(../images/bullet.png);
            background-size: contain !important;
            background-repeat: no-repeat !important;
            bottom: 0px;
            left: calc(50% - 8px);
        }
    }
}
/*end general properties for website*/
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 10px 0px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px #C0A47C;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #f9f9f9de;
        bottom: -5px;
        left: 0;
    }
    .nav-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .hamburger{
            display: none;
        }
        .hamburger .line{
            width: 30px;
            height: 3px;
            background-color: #C0A47C;
            display: block;
            margin: 8px auto;
            transition: all 0.3s ease-in-out;
        }
        
        .hamburger.active{
            transition: all 0.3s ease-in-out;
            transition-delay: 0.6s;
            transform: rotate(45deg);
        }
        
        .hamburger.active .line:nth-child(2){
            width: 0px;
        }
        
        .hamburger.active .line:nth-child(1),
        .hamburger.active .line:nth-child(3){
            transition-delay: 0.3s;
        }
        
        .hamburger.active .line:nth-child(1){
            transform: translateY(6.5px);
        }
        
        .hamburger.active .line:nth-child(3){
            transform: translateY(-15px) rotate(90deg);
        }
        .brand-name{
            img{
                width: 120px;
                height: 70px;
                object-fit: contain;
            }
        }
        .navbar-nav{
            flex-direction: row;
            .nav-item{
                margin: 0px 10px;
                .nav-link{
                    font-family: 'bold';
                    padding: .9rem 1rem;
                    color: #666;
                    font-size: 16px;
                    overflow: hidden;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 16px;
                        background: url(../images/double_arrow.png);
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                        bottom: -16px;
                        left: 0;
                        transition: all .5s linear;
                    }
                }
                
                &.active , &:hover{
                    .nav-link{
                        color: #C0A47C;
                        &::After{
                           bottom: 0px;
                        }
                    }
                }
            }
        }
        .language{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #C0A47C;
            span{
                color: #fff;
                font-size: 17px;
                font-family: 'bold';
            }
        }
    }
}
/*start header*/
header{
    width: 100%;
    position: relative;
    .owl-item.active{
        .item{
            .item-background{
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
            }

            .content{
                .brand-name img,
                h4,
                .custom-btn{
                    transform: translate(0px , 0px);
                    opacity: 1;
                } 

            }
        }
    }
    .item{
        width: 100%;
        padding: 150px 0px;
        position: relative;
        z-index: 99;
      
        .item-background{
            width: 100%;
            height: 100%;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            transition: all .5s linear;
            clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000,  $alpha: .7);
            top: 0;
            left: 0;
            z-index: 1;
        }
        .content{
            width: 100%;
            padding: 100px 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
            z-index: 999;

            .brand-name{
                img{
                    width: 300px;
                    height: 200px;
                    object-fit: contain;
                    transform: translateX(-40px);
                    opacity: 0;
                    transition: all .6s linear;
                }
            }

            h4{
                color: #fff;
                font-family: 'bold';
                font-size: 50px;
                margin-bottom: 20px !important;
                transform: translateX(40px);
                opacity: 0;
                transition: all .8s linear;
            }
            .custom-btn{
                margin-top: 10px;
                transform: translateY(40px);
                opacity: 0;
                transition: all 1s linear;
            }
        }
    }
    .owl-carousel .owl-nav button.owl-next{
        left: 0px !important;
    }
    .owl-carousel .owl-nav button.owl-prev{
        right: 0px !important;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
        width: 50px;
        height: 50px;
        overflow: hidden;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        img{
            width: 50px !important;
            height: 48px;
            object-fit: contain;
            filter: invert(67%) sepia(30%) saturate(379%) hue-rotate(356deg) brightness(94%) contrast(89%);
        }
        &:hover{
            background-color: #C0A47C;
            img{
                filter: invert(100%) sepia(98%) saturate(0%) hue-rotate(313deg) brightness(102%) contrast(103%);
            }
        }
    }
}
.sub-header{
    width: 100%;
    padding: 100px 0px 50px 0px;
    .header-content{
        width: 100%;
        height: 250px;
        position: relative;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        box-shadow: 0px 0px 5px rgba($color: #925b48 , $alpha: .2);
        .content{
            width: 100%;
            text-align: center;
            h4{
                color: #925b48;
                margin-bottom: 20px;
                font-family: 'bold';
                font-size: 20px;
            }
            p{
                color: #555;
                font-family: 'regular';
                font-size: 14px;
            }
        }
        .wizerd{
            width: max-content;
            padding: 20px 30px;
            background-color: #fff;
            border-radius: 50px;
            position: absolute;
            bottom: -30px;
            box-shadow: 0px 0px 5px #C0A47C;
            ul{
                display: flex;
                align-content: center;
                align-items: center;
                list-style: none;
                margin: 0px;
                padding: 0px;
                li{
                    margin: 0px 20px;
                    position: relative;
                    a{
                        color: #000;
                        font-family: 'regular';
                        font-size: 17px;
                    }
                    span{
                        color: #787878;
                        font-family: 'bold';
                        font-size: 15px;
                    }
                    &::After{
                        content: '\f053';
                        position: absolute;
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        top: 50%;
                        left: -25px;
                        transform: translateY(-50%);
                        color: #787878;
                    }
                    &:last-child{
                        &::After{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
/*start why-us*/
.why-us{
    width: 100%;
    padding: 50px 0px;
    .image-content{
        width: 100%;
        height: 200px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .video-play{
            width: 72px;
            height: 72px;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50% , -50%);
            border-radius: 50%;
            z-index: 9;
            background-color: #C0A47C;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                color: #fff;
                font-size: 25px;
            }
            .fisrt-circle , .second-circle{
                position: absolute;
                top: 0;
                width: 72px;
                height: 71px;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                z-index: -1;
                display: block;
                border-radius: 50%;
                animation: st-video-animaion 2s linear infinite;
                box-shadow: 0 0 0 5px #C0A47C;
            }
        }
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            color: #666;
            font-size: 20px;
            font-family: 'bold';
        }
        p{
            color: #888;
            line-height: 2rem;
            font-size: 14px;
            font-family: 'regular';
            margin: 25px 0px !important;
        }
        .links{
            width: 100%;
            padding: 0px;
            margin: 0px;
            list-style: none;
            li{
                padding: 0px 10px;
                margin: 20px 0px;
                font-size: 15px;
                font-family: 'regular';
                color: #888;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background: url('../images/bullet.png');
                    top: 50%;
                    transform: translateY(-50%);
                    right: -20px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}
/*start services*/
.services{
    width: 100%;
    padding: 100px 0px 50px 0px;
    position: relative;
    background:  url(../images/tree.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    .heading{
        h4{
            color: #666;
        }
    }
    .item{
        margin: 0px 10px;
    }
    .box{
        width: 100%;
        padding: 20px 15px;
        position: relative;
        z-index: 99 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .5s linear;
        background-color: #f8f8f8;
        border: 1px solid #C0A47C;
        border-radius: 10px !important;

        
        .image-content{
            width: 150px;
            height: 150px;
            background: url(../images/event.jpg);
            background-size: cover !important;
            background-repeat: no-repeat;
            position: relative;
            z-index: 9;
            border-radius: 10px !important;
            overflow: hidden;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(247, 239, 233, .85);
                top: 0;
                left: 0;
                z-index: -1;
            }
            img{
                width: 60%;
                height: 60%;
                object-fit: contain;
            }
        }
        .content{
            padding-top: 20px;
            text-align: center;
            h4{
                color: #925b48;
                font-size: 18px;
                font-family: 'bold';
                margin-bottom: 20px;
            }
            p{
                color: #222;
                font-size: 14px;
                line-height: 2rem;
                font-family: 'regular';
            }
        }
        &:hover{
            transform: translateY(-10px);
            box-shadow: 0px 0px 5px #C0A47C;
        }
    }
}
/*start offers*/
.offers{
    width: 100%;
    padding: 100px 0px;
    position: relative;
    z-index: 99 !important;
    &::after{
        content: '';
        position: absolute;
        width: 50%;
        height: 50%;
        bottom: 0;
        left: 0;
        background: url(../images/title_flower.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
    }
    .box{
        width: 100%;
        padding: 20px 15px;
        background: url(../images/event.jpg);
        background-size: cover !important;
        background-repeat: no-repeat;
        position: relative;
        z-index: 99 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .5s linear;
        text-align: center;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(247, 239, 233, .85);
            top: 0;
            left: 0;
            z-index: -1;
        }
        .offer-head{
            width: 100%;
            padding: 20px 10px;
            position: relative;
            z-index: 99;
            border: 2px solid #C0A47C;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            h4{
                color: #222;
                font-family: 'bold';
                font-size: 20px;
            }
            &::after{
                content: '';
                position: absolute;
                width: 90%;
                height: 80%;
                top: 10%;
                left: 5%;
                transition: all .5s linear;
                background-color: #C0A47C;
                z-index: -1;
            }
        }
        .offer-price{
            font-size: 30px;
            font-family: 'bold';
            color: #666;
            margin: 20px 0px;
        }
        .description{
            font-size: 14px;
            font-family: 'regular';
            line-height: 2rem;
            color: #888;
        }
        &:hover{
            transform: translateY(-10px);
            box-shadow: 0px 0px 5px #C0A47C;
            .offer-head::after{
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
    .feature{
        margin-bottom: 30px;
        width: 100%;
    }
    .data-content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-content: center;
        .content-list{
            margin: 30px 0px 0px 0px;
            padding: 0px;
            list-style: none;
            li{
                padding: 0px 30px 0px 0px;
                position: relative;
                z-index: 99;
                color: #111;
                font-size: 15px;
                font-family: 'regular';
                margin: 0px 0px 20px 0px;
                &::after{
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    top: 0%;
                    right: 0px;
                    background: url(../images/bullet.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    z-index: -1;
                }
            }
        }
    }
    .custom-btn{
        margin: auto !important;
    }
}
/*start gallery*/
.gallery , .offers{
    width: 100%;
    padding: 50px 0px;
    position: relative;
    background-color:  #fff;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: bottom;
    z-index: 99;
    &::after , &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 200px;
        left: 0;
        background: url(../images/tree_3.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
    }
    &::after{
        bottom: 0;
    }
    &::before{
        top: 0;
        transform: rotate(180deg);
    }
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: 0px;
        margin-bottom: 30px !important;
        
        .nav-item{
            margin: 0px 10px;
        }
        .nav-link{
            border: 1px solid #C0A47C;
            background-color: #fff;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 150px !important;
            border-radius: 5px;
            align-items: center;
            text-align: center;
            position: relative;
            z-index: 99 !important;
            overflow: hidden;
            img{
                width: 60px;
                height: 40px;
                object-fit: contain;
                margin-bottom: 20px;
                filter: invert(72%) sepia(8%) saturate(1376%) hue-rotate(356deg) brightness(92%) contrast(88%);
            }
            span{
                font-size: 16px;
                color: #222;
                font-family: 'regular';
                transition: all .7s linear;
            }
            &::After{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #C0A47C;
                top: -100%;
                left: 0;
                z-index: -1;
                transition: all .5s linear;
            }
            &.active , &:hover{
                border-radius: 5px;
                &::after{
                    top: 0;
                }
                img{
                    filter: invert(100%) sepia(7%) saturate(7408%) hue-rotate(206deg) brightness(121%) contrast(96%);
                }
                span{
                    color: #fff;
                }
            }
        }
    }
    .box{
        width: 100%;
        padding: 20px 15px;
        background: url(../images/event.jpg);
        background-size: cover !important;
        background-repeat: no-repeat;
        position: relative;
        z-index: 99 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .5s linear;
        text-align: center;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(247, 239, 233, .85);
            top: 0;
            left: 0;
            z-index: -1;
        }
        .image-content{
            width: 100%;
            height: 200px;
            border: 2px solid #925b48;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .content{
            text-align: center;
            padding-top: 20px;
            h4{
                color: #222;
                font-family: 'bold';
                font-size: 17px;
            }
        }
        &:hover{
            transform: translateY(-10px);
            box-shadow: 0px 0px 5px #C0A47C;
        }
    }
}
/*start request-time*/
.request-time , .contact-us{
    width: 100%;
    padding: 50px 0px;
    position: relative;
    .form{
        .form-group{
            input , select , option , textarea{
                resize: none;
                background-color: #f9fafc;
                padding: 9px 20px;
                width: 100%;
                border: 1px solid #999;
                border-radius: 5px;
                font-size: 15px;
                font-family: 'regular';
                &::placeholder{
                    font-size: #888;
                    font-family: 'regular';
                    font-size: 16px;
                }
                &:active{
                    box-shadow: 0px 0px 10px #eaeaea;
                }
            }
            select{
                appearance: none;
                padding: 0px 20px;
                height: 62px;
               option{
                    transition: all .5s linear;
                    height: 60px;
                   
               }
            }
            &.select-box{
                position: relative;
                width: 100%;
                &::after{
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 8px;
                    background: url(../images/down.svg);
                    top: 50%;
                    left: 10px;
                    z-index: 999 !important;
                    transform: translateY(-50%);
                }
            }
        }
        textarea:focus-visible{
            outline: none !important;
        }
        .button-content{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button{
            border: none;
            outline: none;
        }
    }
}
/*start contact-us*/
.contact-us{
    width: 100%;
    padding: 50px 0px 50px 0px;
    position: relative;
    background:  url(../images/tree.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    .heading{
        h4{
            color: #666;
        }
    }
    .map-content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        iframe{
            width: 100% !important;
            height: 380px !important;
            border: 0px !important;
        }
    }
    .box{
        width: 100%;
        padding: 20px 15px;
        position: relative;
        z-index: 99 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .5s linear;
        background-color: #f8f8f8;
        border: 1px solid #C0A47C;
        border-radius: 10px !important;

        
        .image-content{
            width: 100px;
            height: 100px;
            background: url(../images/event.jpg);
            background-size: cover !important;
            background-repeat: no-repeat;
            position: relative;
            z-index: 9;
            border-radius: 10px !important;
            overflow: hidden;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(247, 239, 233, .85);
                top: 0;
                left: 0;
                z-index: -1;
            }
            img{
                width: 40%;
                height: 40%;
                object-fit: contain;
                filter: invert(34%) sepia(57%) saturate(381%) hue-rotate(330deg) brightness(101%) contrast(90%);
            }
        }
        .content{
            padding-top: 20px;
            text-align: center;
            h4{
                color: #925b48;
                font-size: 18px;
                font-family: 'bold';
                margin-bottom: 20px;
            }
            p{
                color: #222;
                font-size: 14px;
                line-height: 2rem;
                font-family: 'regular';
            }
        }
        &:hover{
            transform: translateY(-10px);
            box-shadow: 0px 0px 5px #C0A47C;
        }
    }
}
/*start footer*/
footer{
    width: 100%;
    padding: 50px 0px 30px;
    background: url(../images/tree_2.jpg);
    position: relative;
    z-index: 99 !important;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #111 , $alpha: .84);
        top: 0;
        left: 0;
        z-index: -1;
    }
    .content{
        &.center-content{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .image-content{
            width: 200px;
            height: 100px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &.snap{
                img{
                    margin-top: 20px;
                    object-position: right;
                }
            }
        }
        p{
            color: #f9f9f9;
            line-height: 2rem;
            font-size: 15px;
            margin: 20px 0px;
            font-family: 'regular';
            text-align: justify;
        }
        .socail-media{
            width: 100%;
            display: flex;
            list-style: none;
            padding: 0px;
            margin: 0px;
            a{
                width: 40px;
                height: 40px;
                justify-content: center;
                align-items: center;
                display: flex;
                border-radius: 50%;
                background-color: #f9f9f9;
                transition: all .5s linear;
                margin: 0px 5px;
                i{
                    color: #C0A47C;
                    font-size: 20px;
                    transition: all .5s linear;
                }
                &:hover{
                    background-color: #C0A47C;
                    transform: translateY(-10px);
                    box-shadow: 0px 0px 10px #f9f9f9;
                    i{
                        color: #f9f9f9;
                    }
                }
            }
        }
        h4{
            font-size: 19px;
            color: #C0A47C;
            font-family: 'bold';
            margin: 50px 0px;
        }
        .links{
            list-style: none;
            padding: 0px;
            margin: 0px;
            li{
                margin: 20px 0px;
                a{
                    padding: 0px 20px;
                    color: #f9f9f9;
                    font-size: 15px;
                    font-family: 'regular';
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background: url(../images/bullet.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        top: calc(50% - 10px);
                        right: -10px;
                    }
                }
            }
        }
    }

}
.copyrights{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    background-color: #111;
    p{
        color: #fff;
        margin: 0px;
        font-size: 16px;
        font-family: 'regular';
    }
}
/*start loader*/
.loader {
    width: 100%;
    height: 100vh;
    background-color: #C0A47C;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    .spinner {
        width: 128px;
        height: 128px;
        border: 3px solid #fff;
        border-bottom: 3px solid transparent;
        border-radius: 50%;
        position: relative;
        animation: spin 1s linear infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
            width: 64px;
            height: 64px;
            border: 3px solid transparent;
            border-top: 3px solid #fff;
            border-radius: 50%;
            animation: spinInner 1s linear infinite;
        }
    }
  
    
    &.hidden {
        animation: loaderSlideDown 1s;
        animation-fill-mode: forwards;
    } 
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spinInner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-720deg);
    }
}
/*scroll to top btn */
.scroll-top-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #C0A47C;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    border-radius: 0px 5px 0px 0px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in-out;
    img{
        width: 40px;
        height: 30px;
        object-fit: contain;
        filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(297deg) brightness(113%) contrast(100%);
        transform: rotate(90deg);
    }
    &:hover{
        background-color: #f9fafc;
        img{
            filter: invert(78%) sepia(3%) saturate(3290%) hue-rotate(357deg) brightness(87%) contrast(83%);
        }
    }
}
.active-scroll{
    animation: expands .4s cubic-bezier(.25,.46,.45,.94) both;
    opacity: 1;
}